---
title: The Museum
permalink: /museum/
layout: page-hidden-header
layout_class: page-about
---
<div id="statement" class="row section">
    <!-- Statement -->
    <div class="col-xs-12 ">        
			{% capture inc-about-statement %}{% include about/statement.md %}{% endcapture %}
			{{ inc-about-statement | markdownify }}
    </div>
    <!-- About -->
    <div class="col-xs-12 ">       
			{% capture inc-about-bio %}{% include about/bio.md %}{% endcapture %}
			{{ inc-about-bio | markdownify }}
    </div>    
</div> <!-- #statement -->
{% include components/about-presskit.html %}

{% include components/about-outcomes.html %}


 
      