<div id="press-materials" class="row section ">

    <!-- Publications & Catalogs -->
    <div class="col-xs-12 yearly"> 

      <h2>Publications & Catalogs</h2>

      {% include components/about-outcomes-publications.html %}

    </div>

    <!-- Interviews & Articles -->
    <div class="col-xs-12 yearly"> 

      <h2>Interviews & Articles</h2>

      {% include components/about-outcomes-articles.html %}

      <hr/>

      <h2>More Press</h2>
      <h3>All time</h3>

      {% include components/about-outcomes-press.html %}


    </div>


</div> <!-- #press-materials -->